.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button {
        background-color: #bd0c23;
        color: rgb(250, 245, 245);

        &:active{
            transform: scale(0.95);
        }

        &:hover {
            background-color: #bd0c23b8;
        }

        
    }
}