.post-image-label{
    background-color: whitesmoke;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    // font-size: 0.9rem;
    color: rgb(25,25,25);
    cursor: pointer;

    input{
        display: none;
    }
}